[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "*"
mapomatic = "*"
mthree = "*"
pylatexenc = "*"
qiskit-aer = "*"
qiskit-experiments = "*"
qiskit-ibmq-provider = "*"
qiskit-nature = {git = "https://github.com/Qiskit/qiskit-nature.git"}
qiskit-terra = "*"

[dev-packages]

[requires]
python_version = "3.9"
