[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "*"
mapomatic = "==0.6"
mthree = "==0.24"
pylatexenc = "*"
qiskit-aer = "*"
qiskit-experiments = "==0.3.1"
qiskit-ibm-runtime = "*"
qiskit-ibmq-provider = "*"
qiskit-nature = "~=0.5"
qiskit-terra = "==0.21"

[dev-packages]

[requires]
python_version = "3.9"
