[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "*"
mapomatic = "==0.6"
mthree = "==0.24"
pylatexenc = "*"
qiskit-aer = "*"
qiskit-experiments = "==0.3.1"
qiskit-ibmq-provider = "*"
qiskit-nature = {git = "https://github.com/Qiskit/qiskit-nature.git"}
qiskit-terra = {git = "https://github.com/Qiskit/qiskit-terra.git"}

[dev-packages]

[requires]
python_version = "3.9"
