importlib_metadata
mapomatic==0.6
mthree==0.24
pylatexenc
qiskit-aer
qiskit-experiments==0.3.1
qiskit-ibmq-provider
qiskit-nature @ git+https://github.com/Qiskit/qiskit-nature.git#egg=qiskit-nature
qiskit-terra @ git+https://github.com/Qiskit/qiskit-terra.git#egg=qiskit-terra
