mthree
pylatexenc
qiskit-experiments @ git+https://github.com/Qiskit/qiskit-experiments.git#egg=qiskit-experiments
qiskit-ibmq-provider
qiskit-nature @ git+https://github.com/kevinsung/qiskit-nature.git@slater-determinants#egg=qiskit-nature
qiskit-terra @ git+https://github.com/nbronn/qiskit-terra.git@template-param-expression#egg=qiskit-terra